@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

:root {
  --background: #ecf0f1;
  --foreground: #171717;
  --nav-bg: #f95644;
  --bubble-user: #f2f2f2;
  --bubble-ai: #f77b6e;
  --btn-primary: #f95644;
  --btn-secondary: #808283;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151e32;
    --foreground: #ededed;
    --nav-bg: #486581;
    --bubble-user: #6ea1cd;
    --bubble-ai: #3b6a96;
    --btn-primary: #1887ba;
    --btn-secondary: #486581;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background: var(--background);
}
