@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg:rgb(243, 243, 243);
  --bubble-user: rgb(243, 243, 243);
  --bubble-ai:rgb(217, 217, 217);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #102a43;
    --foreground: #ededed;
    --nav-bg:#486581;
    --bubble-user:#829ab1;
    --bubble-ai:#486581;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input{
  background: var(--background);
}
